@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json
@model List<ProyectoModeradores.Models.Sala>
<table>
    <tr>
        <td>

            <a class="btn-link" onclick="mostrarModal()"> importar Archivo</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn-link" onclick="mostrarModalNuevaSala()"> Nueva Sala</a>
        </td>
    </tr>
</table>



<table cellpadding="6" width="100%" align="center" id="Main_DataTable" class="table">
    <thead>
        <tr>
            <td>
                Sala Id
            </td>
            <td>
                Codigo
            </td>
            <td>
                Descripcion
            </td>
            <td>
                Area
            </td>
            <td>
                Status Actual
            </td>
            <td>
                editar
            </td>
            <td>
                eliminar
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (ProyectoModeradores.Models.Sala sala in ViewBag.Salas)
        {
            var lObject = JsonConvert.SerializeObject(sala);
            <tr>
                <td> @sala.SalaId</td>
                <td>@sala.Code</td>
                <td>@sala.Description</td>
                <td>@sala.Area.Description</td>
                <td>@sala.Status.Description</td>
                <td>
                    <a class="btn-link" onclick="EditSala(@lObject)">editar</a>
                </td>
                <td>
                    <a class="btn-link" asp-action="Delete" asp-route-id="@sala.SalaId">eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="ImportFile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleSearchDest">Nuevo Trailer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Salas" asp-action="Import" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-4"><label>Archivo </label></div>
                            <div class="col-6">
                                <input type="file" id="FileData" name="FileData" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Importar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="NuevaSala" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:800px;">
        <div class="modal-content modal-fullscreen-sm-down" >
            <div class="modal-header">
                <h5 class="modal-title" id="TitleSearchDest">Nueva Sala</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Salas" asp-action="Save" method="post">
                    <div class="modal-body">

                        <table align="center">
                            <tr>
                                <td hidden>
                                     <input type="text" id="Id" name="SalaId">
                                </td>
                                <td>
                                    Codigo:
                                </td>
                                <td>
                                    <input type="text" id="Code" name="Code">
                                </td>
                                <td>
                                    Descripción:
                                </td>
                                <td>
                                    <textarea type="text" id="Desc" name="Description"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Status:
                                </td>
                                <td>
                                    <select name="StatusId" id="Status" class="form-control">
                                        @foreach (ProyectoModeradores.Models.Status st in ViewBag.Statuses)
                                        {
                                            <option value="@st.StatusId">@st.Code</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    Area:
                                </td>
                                <td>
                                    <select name="AreaId" id="Area" class="form-control">
                                        @foreach (ProyectoModeradores.Models.Area A in ViewBag.Areas)
                                        {
                                            <option value="@A.AreaId">@A.Description</option>
                                        }
                                    </select>
                                </td>

                                <td>
                                    Moderador:
                                </td>
                                <td>
                                    <select name="ModeradorId" id="ModeradorId" class="form-control">
                                        @foreach (ProyectoModeradores.Models.Moderador M in ViewBag.Moderadors)
                                        {
                                            <option value="@M.Id">@M.Name</option>
                                        }
                                    </select>
                                </td>
                            </tr>

                        </table>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Moderadores.js"></script>