@using Microsoft.AspNetCore.Mvc
@model List<ProyectoModeradores.Models.Moderador>

<a class="btn-link" onclick="mostrarModal()"> importar Archivo</a>
<br/>
<a class="btn-link" onclick="NuevoModModal()"> Alta Moderador</a>
<table cellpadding="6" width="100%" align="center"  id="Main_DataTable" class="table">
    <thead>
        <tr>
            <td>
                Moderador
            </td>
            <td>
                Area Principal
            </td>
            <td>
                Area Secundaria
            </td>
            <td>
                Institucion
            </td>
            <td>
                Status Actual
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Area1.Description
                </td>
                <td>
                    @item.Area2.Description
                </td>
                <td>
                    @item.InstitucionId
                </td>
                <td>
                    @item.statusId
                </td>
            }
        </tr>
    </tbody>
</table>


<div class="modal fade" id="ImportFile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleSearchDest">Nuevo Trailer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Moderadores" asp-action="Import" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-4"><label>Archivo </label></div>
                            <div class="col-6">
                                <input type="file" id="FileData" name="FileData" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Importar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="NuevoMod" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:1500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleSearchDest">Nuevo Trailer</h5>
            </div>
            <div class="modal-body">
                <form asp-controller="Moderadores" asp-action="Import" method="post">
                    <div class="modal-body">
                        <table width="100%" align="center" border="1" cellpadding="4">
                            <tr>
                                <td>
                                    Nombre
                                </td>
                                <td>
                                    <input type="text" name="Name">
                                </td>
                                <td>
                                    Apellido Paterno
                                </td>
                                <td>
                                    <input type="text" name="ApellidoP">
                                </td>
                                <td>
                                    Apellido Materno
                                </td>
                                <td>
                                    <input type="text" name="ApellidoM">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                
                                <td>
                                    Area Principal
                                </td>
                                <td>
                                    <select name="Area1" class="form-control" style="width:300px">
                                        <option Value=0> Ciencias</option>
                                    </select>
                                </td>
                                <td>
                                    Area Secundaria
                                </td>
                                <td>
                                    <select name="Area2" class="form-control" style="width:300px">
                                        <option Value=0> Ciencias</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="right">
                                    institucion
                                </td>
                                <td colspan="3">
                                    <input type="text" name="Insitucion">
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Moderadores.js"></script>