@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json

@model List<ProyectoModeradores.Models.Moderador>
<script src="assets/javascript/jquery-3.1.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<table width="100%" align="center" cellpadding="10">
    <Form asp-action="Index">
    <tr>
        <td>
            Nombre:
        </td>
        <td>
            <input id="Name" name="Nombre" type="Text">
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit"> Buscar </button>
        </td>
    </tr>
    </Form>
</table>

<br />
<br />
<br />

<a class="btn-link" onclick="mostrarModal()"> importar Archivo</a>
<br />
<br />
<a class="btn-link" onclick="NuevoModModal()"> Alta Moderador</a>
<br />
<br />
<br />
<table cellpadding="6" align="center" id="Main_DataTable" class="table">
    <thead>
        <tr>
            <td>
                Moderador
            </td>
            <td>
                Area Principal
            </td>
            <td>
                Area Secundaria
            </td>
            <td>
                Institucion
            </td>
            <td>
                Status Actual
            </td>
            <td>
                editar
            </td>
            <td>
                eliminar
            </td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var lObject = JsonConvert.SerializeObject(item);
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Area1
                </td>
                <td>
                    @item.Area2
                </td>
                <td>
                    @item.InstitucionId
                </td>
                <td>
                    @item.statusId
                </td>
                <td>
                    <a class="btn-link" onclick="EditMod(@lObject)">editar</a>
                </td>
                <td>
                    <a class="btn-link" asp-action="Delete" asp-route-id="@item.Id">eliminar</a>
                </td>
            </tr>
        }

    </tbody>
</table>


<div class="modal fade" id="ImportFile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleSearchDest">Nuevo Trailer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Moderadores" asp-action="Import" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-4"><label>Archivo </label></div>
                            <div class="col-6">
                                <input type="file" id="FileData" name="FileData" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Importar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="NuevoMod" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:1500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleSearchDest">Nuevo Trailer</h5>
            </div>
            <div class="modal-body">
                <form asp-controller="Moderadores" asp-action="AgregarMod" method="post">
                    <div class="modal-body">
                        <table width="100%" align="center" border="1" cellpadding="4">
                            <tr>
                                <td hidden>
                                    <input type="text" id="Id" name="Id">
                                </td>
                                <td>
                                    Nombre
                                </td>
                                <td>
                                    <input type="text" id="Name" name="Name">
                                </td>
                                <td>
                                    Apellido Paterno
                                </td>
                                <td>
                                    <input type="text" id="ApellidoP" name="ApellidoP">
                                </td>
                                <td>
                                    Apellido Materno
                                </td>
                                <td>
                                    <input type="text" id="ApellidoM" name="ApellidoM">
                                </td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>
                                    Area Principal
                                </td>
                                <td>
                                    <select name="Area1" id="Area1" class="form-control" style="width:300px">
                                        <option Value=1 selected> Ciencias</option>
                                    </select>
                                </td>
                                <td>
                                    Area Secundaria
                                </td>
                                <td>
                                    <select name="Area2" id="Area2" class="form-control" style="width:300px">
                                        <option Value=2 selected> Matematicas</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="right">
                                    institucion
                                </td>
                                <td colspan="3">
                                    <select type="text" id="institucion" name="Insitucion">
                                        <option Value=1 selected> UAEMEX</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Moderadores.js"></script>
<script type="text/javascript" src="assets/javascript/flickr.js"></script>